body {
	margin: 0px;
	background: url("images/background.png") repeat-x #e8e8e8;
	font-family: "Trebuchet MS", Verdana, sans serif;
}

img {
	width: 50px;
	height: 50px;
    float: left;
}

#wrapper {
	margin: auto;
	position: relative;
	width: 1200px;
	min-height: 200px;
	height: auto;
}

#top {
	width: 1160px;
	height: 40px;
	margin: auto;
}

#logo {
	margin: auto;
	width: 950px;
	height: 60px;
    background: url("images/header.png") no-repeat;
}

#content {
	width: 1100px;
	height: auto;
	margin: auto;
	margin-top: 30px;
    padding-bottom: 5px;
	border: 1px solid #d7d7d7;
	background: #f5f5f5;
}


#welcome {
    width: 1031px;
    height: 100px;
    margin: auto;
    margin-left: 40px;
    margin-top: 10px;
    background: url("images/welcome.png") no-repeat;
}

#welcome p {
    margin-left: 30px;
    margin-top: 14px;
    font-size: 20px;
    position: relative;
    top: 13px;
}

#left, #right {
	width: 500px;
	height: auto;
	float: left;
	position: relative;
}

#left {
	margin-left: 40px;
}

#right {
    margin-left: 25px;
}

button {
	width: 90px;
	height: 26pt;
	font-size: 13pt;
    margin-right: -2px;
    float: right;
    position: relative;
    top: 11px;
}

input {
    width: 400px;
	min-height: 22pt;
	background: #eee;
	text-indent: 10px;
	font-size: 15pt;
	border: 1px solid #aaa;
    margin-bottom: 15px;
    position: relative;
    top: 10px;
}

.readonly {
    background: #ddd;
    color: #777;
    border: 1px solid #A36D7B;
}

.tweet {
	overflow: hidden;
	width: 500px;
	height: 50px;
	background: #DFEDF0;
	border: 1px solid #e2e2e2;
	border-bottom: 1px solid #c4c4c4;
	border-right:  1px solid #c4c4c4;
	margin: auto;
    position: relative;
    top: -5px;
	margin-top: 10px;
    font-size: 10pt;
}

.tweet img {
    position: relative;
    top: 0;
    left: 0px;
}

.tweet_text {
    position: relative;
    left: 10px;
    right: 5px;
    margin-right: 3px;
    font-size: 11px;
    width: 480px;
    height: 30px;
}

#url {
    width: 500px;
    height: 10px;
    overflow: hidden;
    display: none;
}

#sequence {
    width: 500px;
    height: 10px;
    overflow: hidden;	
    display: none;
}

#feedNumber {
    display: none;
}

#popup{
    display: none;
    height: 50px;
    width: 150px;
    background: url("images/popup.png") no-repeat;
    position: absolute;
    top: -35px;
    left: 10px;
    z-index: 10;
}

#popup p {
    position: absolute;
    top: -10px;
    left: 12px;
}
